<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Revolution&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-rB8a0a3k50jwsw9p4PhlBbebxzAV+HfZcLjl5q5IfPkBRiFwpwK1uP5g2eI01i1e" crossorigin="anonymous">


    <link rel="stylesheet" href="static/about.css">
    <link rel="stylesheet" href="static/common.css">
    <link rel="stylesheet" href="static/aboutMQ.css">
    <link rel="stylesheet" href="static/font-themes.css">

</head>

<body>

    <div class="cont-1  sec-bg  parallax1">
        <nav>
            <div class="logo  nav-padding"><a href="/"> <img src="static/images/untitled.png" alt=""></a></div>
            <div class="nav-item  nav-padding">
                <ul>
                    <!-- <li>Home</li> -->
                    <li><a href="/about">AboutUs</a></li>
                    <li><a href="##" onclick="scrollToServices()">Services</a></li>
                    <li><a href="##" onclick="scrollToBlog()">Blog's</a></li>
                    <li><a href="/contact">ContactUs</a></li>
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn">Pages ⇩</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="/bmi">BMI Calculator</a>
                            <a href="#">Personal Dashboard</a>
                            <a href="#">Locate GYM</a>
                            <a href="#">Entry Records</a>
                        </div>
                    </div>
                </ul>
            </div>
        </nav>

        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a href="/">Dashboard</a>
                <a href="#"  onclick="scrollToServices()">Services</a>
                <a href="#"  onclick="scrollToBlog()">Clients</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
        <span class="hamburger" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>


        <div class="cont-1-text">

            <div class="text-colour">About Us</div>

            <span class="span-one"><a href="/home">Home</a> </span>
            <span class="span-two">> AboutUs</span>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro obcaecati dicta eius! Consequuntur eius
                aut alias quo, consequatur ab quod neque delectus, pariatur deleniti eum asperiores? Rerum tempora
                accusantium perspiciatis perferendis molestias numquam cumque doloribus?</p>
        </div>

    </div>

    <div class="cont-2">
        <h1 class="heading-hover">Push yor limits forward</h1>

        <div class="cont-2-flex">
            <div class="cont-2-box">
                <img src="static/images/stationary-bicycle.png" alt="">

                <h4>Modren Equipments</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati modi expedita tenetur corrupti
                    magnam, inventore nemo vel cum non qui. Maiores deserunt fugit quaerat atque!</p>
            </div>
            <div class="cont-2-box">
                <img src="static/images/orange-juice.png" alt="">

                <h4>Healthy Nutrition Plan</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati modi expedita tenetur corrupti
                    magnam, inventore nemo vel cum non qui. Maiores deserunt fugit quaerat atque!</p>
            </div>
            <div class="cont-2-box">
                <img src="static/images/excercise.png" alt="">

                <h4>Professional Training plan</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati modi expedita tenetur corrupti
                    magnam, inventore nemo vel cum non qui. Maiores deserunt fugit quaerat atque!</p>
            </div>
            <div class="cont-2-box">
                <img src="static/images/dumbbell.png" alt="">

                <h4>Unique to your needs</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati modi expedita tenetur corrupti
                    magnam, inventore nemo vel cum non qui. Maiores deserunt fugit quaerat atque!</p>
            </div>
        </div>
    </div>


    <div class="cont-3">
        <h1  class="heading-hover" >Our Trainers</h1>

        <div class="trainer-flex">

            <div class="trainers">
                <img src="static/images/women-trainer.png" alt="">

                <div class="overlay1">
                    <h1 class="overlay1-heading">Laura White</h1>
                    <hr>
                    <p class="overlay1-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, natus.</p>
                </div>
            </div>

            <div class="trainers">
                <img src="static/images/men-trainer2.png" alt="">

                <div class="overlay1">
                    <h1 class="overlay1-heading">Thomas Boss</h1>
                    <hr>
                    <p class="overlay1-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, natus.</p>
                </div>
            </div>

            <div class="trainers">
                <img src="static/images/men-trainer.jpg" alt="">

                <div class="overlay1">
                    <h1 class="overlay1-heading">Nikola Tesla</h1>
                    <hr>
                    <p class="overlay1-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, natus.</p>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div class="cont-4">

        <footer>

            <div class="ftr-grid">

                <div class="location ">
                    <img src="static/images/location.png" alt="">
                    <p>333 Middle Winchendon Rd, Rindge, NH 03461</p>
                </div>

                <div class="mobile ">
                    <img src="static/images/smartphone.png" alt="">
                    <p>125-711-811 | 125-668-886</p>
                </div>

                <div class="mail ">
                    <img src="static/images/mail.png" alt="">
                    <p>Support.gymexample@gmail.com</p>
                </div>

            </div>


            <div class="ftr-flex">

                <div class="ftr-1">

                    <div class="ftr-img"><img src="static/images/untitled.png" alt=""></div>

                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat rerum magnam quo praesentium
                        itaque
                        eligendi cumque aspernatur ullam veritatis accusantium! Molestiae sunt veritatis mollitia, ipsa
                        velit fugit nostrum impedit illo nemo corrupti iusto tempora. Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Natus veritatis voluptas illo architecto officia quasi dolore
                        autem dicta quidem quaerat!</p>

                    <ul class="social-icons">
                        <li><a href="#" target="_blank"><img src="static/images/facebook.png" alt="Instagram"></a></li>

                        <li><a href="#" target="_blank"><img src="static/images/twitter.png" alt="Facebook"></a></li>

                        <li><a href="#" target="_blank"><img src="static/images/instagram.png" alt="YouTube"></a></li>

                        <li><a href="#" target="_blank"><img src="static/images/youtube.png" alt="Twitter"></a></li>
                    </ul>

                </div>


                <div class="ftr-2">
                    <h1>Useful Links</h1>

                    <ul>
                        <li><a href="/about">AboutUs</a></li>
                        <li><a href="##">Blogs</a></li>
                        <li><a href="##">Classes</a></li>
                        <li><a href="##">ContactUs</a></li>
                    </ul>
                </div>


                <div class="ftr-3">
                    <h1>Support </h1>

                    <ul>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Schedules</a></li>
                        <li><a href="#">Subscribe</a></li>
                    </ul>

                </div>

            </div>

            <p class="cprt">Copyright&copy; 2024 All Rights Reserved</p>

        </footer>
    </div>

    <script>
          function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }


         // JavaScript to toggle the sliding menu 
         function openNav() {
            document.getElementById("myNav").style.height = "100%";
        }

        function closeNav() {
            document.getElementById("myNav").style.height = "0%";
        }
    </script>
</body>

</html>